$primary-color: hsl(220, 38%, 50%);
$accent-color: hsl(220, 60%, 70%);


nav {
  height: 120px;
  background-color: $primary-color;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 100%
}

.nav-container li {
  color: white;
  list-style-type: none;
}

.logo {
  font-family: 'Bungee', cursive;
  color: white;
  font-size: 2em;
}