$primary-color: hsl(220, 38%, 50%);

.new-tweet textarea {
  resize: none;
  background-color: hsl(37, 27%, 90%);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 4px;
  border-bottom-color: black;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.new-tweet button {
  background-color: $primary-color;
  color: white;
  font-size: 1em;
  font-family: Bungee;
  border: 0;
  border-radius: 5px;
  padding: 10px
}

.new-tweet button:hover {
  background-color: rgba($primary-color, 0.9);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.red {
  color: red;
}

article {
  border-style: solid;
  border-width: 2px;
  border-color: lightslategrey;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

article:hover {
  box-shadow: 10px 10px hsl(168, 37%, 40%);
  ;
}

.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet  img {
  height: 48px;
  width: 48px;
  margin-right: 18px;
}

.tweet h2 {
  flex-grow: 1;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet .time {
  flex-grow: 2;
}

footer i {
  margin: 6px;
}

footer i:hover {
  color: hsl(168, 37%, 50%);
}

#error {
  color: red;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;

}